* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

/* App.css */
.fourerror {
  backdrop-filter: blur(12px) !important;
  max-width: 450px !important;
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-in-out !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-to-right {
  animation: toRight 0.8s ease forwards !important;
}

@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .fourerror {
    padding: 10px 15px !important;
    width: 100% !important;
  }
}

/* Theme styling */
.bg-dark {
  background-color: #1f2937 !important;
  color: white !important;
}

.bg-light {
  background-color: #ffffff !important;
  color: black !important;
}

/* Task item styling */
.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 !important;
}

.task-list input[type="number"] {
  width: 100px !important;
}

@media (max-width:620px) {
  .heroundernav {
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 70px !important;
  }
  
  .heroundernav h1 {
    margin-bottom: 48px !important;
    margin-top: 50px !important;
  }
}
